<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}"
>
  <div layout:fragment="content">
    <div class="card">
      <div class="card-header">
        <h3 th:text="${board.title}">제목</h3>
        <div class="d-flex justify-content-between">
          <span th:text="${board.author}">작성자</span>
          <span
            th:text="${#temporals.format(board.createdAt, 'yyyy-MM-dd HH:mm')}"
            >작성일</span
          >
        </div>
      </div>
      <div class="card-body">
        <p
          class="card-text"
          style="min-height: 200px"
          th:text="${board.content}"
        >
          내용
        </p>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-between">
          <div>
            <a href="/" class="btn btn-secondary">목록으로</a>
          </div>
          <div>
            <a
              th:href="@{/board/edit/{id}(id=${board.id})}"
              class="btn btn-primary"
              >수정</a
            >
            <a
              th:href="@{/board/delete/{id}(id=${board.id})}"
              class="btn btn-danger"
              onclick="return confirm('정말 삭제하시겠습니까?');"
              >삭제</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</html>
